.characterNameInput {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid;
    @include shadow;
    overflow: hidden;
    text-align: center;
    width: 100%;
    line-height: 100%;
    font-size: 2rem;
    padding: 5px;
    resize: none;
    &:focus {
        outline: none;
    }
}

.formWrapper {
    @include flex-col;
    width: 200px;
    margin: 5px;
    .label {
        padding: 5px;
        height: 20%;
        line-height: 15px;
    }

    input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid;
        padding: 5px;
        white-space: normal;
        outline: none;
        font-size: 15px;
        resize: none;
        @include shadow;
    }
}
